.menu-section
  vertical-align top
  text-align center
  position fixed
  z-index 5
  top 0
  left 0
  width 250px
  height 100vh
  background rgba(27,75,148,0.5)

.user-img
  margin-top 40px
  margin-bottom 10px
  border-radius 50%

.user-name
  color #0D2447
  width 100%
  text-align center
  font-weight 600

.menu-buttons-block
  margin-top 30px

.menu-button
  width 100%
  height 70px
  background rgba(255,255,255,0.5)
  color #0D2447
  font-size 16px
  border 0px solid
  cursor pointer
  &:hover
    background #0D2447
    color #fff
    transition 0.2s
    font-size 18px
  &:focus
     outline 0
     box-shadow none
