/*
 * Import nib
 */
// @import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300')

/*
 * Nib provides a CSS reset
 */
global-reset()

@import './variables'

body
   font-family 'Open Sans'
   background $brand-white
   color $brand-black
   margin 0
   box-sizing border-box
