$brand-primary-dark = #512DA8;
$brand-primary = #673AB7;
$brand-primary-light = #D1C4E9;

$brand-accent = #00BCD4;

$brand-white = #FFFFFF;
$brand-black = #212121;
$brand-grey-dark = #757575;
$brand-grey = #BDBDBD;
