/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: 'Open Sans';
  background: #fff;
  color: #707070;
}
#container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  overflow: auto;
}
.btn {
  width: 200px;
  height: 70px;
  background: rgba(255,255,255,0.5);
  color: #202020;
  font-size: 16px;
  border: 0px solid;
}
.btn:hover {
  background: #202020;
  color: #fff;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  font-size: 18px;
}
.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.play-btn {
  width: 100px;
  height: 25px;
  font-size: 14px;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -webkit-border-radius: 3%;
  border-radius: 3%;
}
td {
  width: 30%;
  height: 30px;
}
.artists {
  color: #22313f;
  font-weight: 600;
}
.wrap {
  white-space: nowrap;
}
.line {
  display: inline-block;
}
.top {
  vertical-align: top;
  position: fixed;
  padding-top: 20px;
  height: 100vh;
  background: rgba(107,185,240,0.5);
}
.table {
  margin-left: 280px;
  margin-top: 10px;
}
.player {
  margin-left: 280px;
}
.stop-btn {
  color: #fff;
  background: #1e8bc3;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 3px;
  position: fixed;
  text-align: right;
  left: 825px;
  top: 30px;
  width: 30px;
  height: 25px;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  border: 0px solid;
  z-index: 2;
}
.stop-btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.stop-btn-onrow {
  color: #fff;
  background: #1e8bc3;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 3px;
  text-align: right;
  width: 25px;
  height: 20px;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  border: 0px solid;
}
.stop-btn-onrow:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type=range] {
  -webkit-appearance: none;
  width: 500px;
  background: rgba(200,200,200,0);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #fff;
  border: 0px solid;
  -webkit-border-radius: 3%;
  border-radius: 3%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px #000;
  box-shadow: 0px 0px 0px #000;
  border: 0px solid #529de1;
  height: 6px;
  width: 6px;
  background: #22313f;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dcdcdc;
}
input[type=range]:focus::-webkit-slider-thumb {
  margin-top: -2px;
  height: 10px;
  width: 10px;
}
.progress-bar {
  position: fixed;
  left: 280px;
  top: 40px;
  z-index: 2;
}
.player-holder {
  background: #81cfe0;
  height: 100px;
  width: 650px;
  position: fixed;
  -webkit-border-radius: 1%;
  border-radius: 1%;
  left: 260px;
  top: 0px;
  z-index: 2;
}
.volume-bar {
  position: fixed;
  left: 280px;
  top: 70px;
  z-index: 2;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
