/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300')

/*
 * Nib provides a CSS reset
 */
global-reset()

body
   font-family 'Open Sans'
   background #fff
   color #707070
   
.btn
  width 200px
  height 70px
  background rgba(255,255,255,0.5)
  color #202020
  font-size 16px
  border 0px solid
  cursor pointer
  &:hover
    background #202020
    color #fff
    transition 0.2s
    font-size 18px
  &:focus
     outline 0 
     box-shadow none 
  
.play-btn
  width 100px
  height 25px
  font-size 14px
  opacity 0.9
  border-radius 3%

td
  width 300px
  height 40px
  font-size 14px
  
.artists
  width 250px !important
  color #22313F
  font-weight 600
  padding-left 20px
   
.wrap
  white-space nowrap
  
.line
  display inline-block
  
.top
  vertical-align top
  position fixed
  height 100vh
  background rgba(107,185,240,0.4)
  z-index 5
  
.table
  margin-left 260px
  margin-top 10px

.player
  margin-left 280px
  
.stop-btn
  color #fff
  background #1E8BC3
  font-weight 600
  font-size 16px
  letter-spacing 3px
  position fixed
  text-align right
  left 280px
  top 32px
  width 30px
  height 25px
  border-radius 5%
  border 0px solid
  z-index 2
  cursor pointer
  &:focus
     outline 0 
     box-shadow none 
     
.stop-btn-onrow
  color #fff
  background #1E8BC3
  font-weight 600
  font-size 12px
  letter-spacing 3px
  text-align right
  width 25px
  height 20px
  border-radius 5%
  border 0px solid
  vertical-align top
  cursor pointer
  &:focus
     outline 0 
     box-shadow none 
     
.download-btn
  color #fff
  background #1E8BC3
  margin-left 10px
  width 25px
  height 20px
  border-radius 5%
  border 0px solid
  text-align center
  cursor pointer
  &:focus
     outline 0 
     box-shadow none 
  
  
input[type=range] {
  -webkit-appearance: none;
  width: 380px;
  background rgba(200,200,200,0);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: rgba(255,255,255,1);
  border: 0px solid;
  border-radius 3%
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #529DE1;
  height: 6px;
  width: 6px;
  background: #22313F;
  border-radius 50%
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-thumb {
  margin-top: -2px;
  height: 10px;
  width: 10px;
  transition 0.3s
}

.progress-bar
  position fixed
  left 380px
  top 40px
  z-index 2

.player-holder
  background #E4F1FE
  height 100px
  width 100%
  position fixed
  border-radius 1%
  padding-left 260px
  top 0px
  z-index 2
  
.volume-bar
  position fixed
  width 80px !important
  left 780px
  top 40px
  z-index 2
  opacity 0.8
  
.volume-pic
  width 15px
  opacity 0.4
  position fixed
  left 870px
  top 38px
  
.download-img
  width 15px
  
.player-design
  background rgba(52, 73, 94, 0.2)
  width 645px
  height 50px
  margin-top 20px
  border 1px solid rgba(52, 73, 94, 0.3)
  border-radius 1%
  box-shadow 0px 1px 2px rgba(0,0,0,0.5)
  
.user-name
  color #22313F
  width 100%
  text-align center
  margin-top 10px
  margin-bottom 10px
  font-weight 600
  
.audio-row
  &:hover
    background #E4F1FE
    
.buttons-onrow
  width 80px !important
  
.switch-buttons
  width 20px

.pervios-audio
  border 0px solid
  background rgba(0,0,0,0)
  position fixed
  top 33px
  left 315px
  cursor pointer
  
.next-audio
  border 0px solid
  background rgba(0,0,0,0)
  position fixed
  top 33px
  left 345px
  cursor pointer
  
.selected
  color #fff
  background #1E8BC3
  .artists
    color #fff